@model List<Wedding>

<div class="d-flex justify-content-between">
    <h1>Welcome to Wedding Planner</h1>
    <a asp-action="logout" asp-controller="Home">Logout</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest Count</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wedding in Model)
        {
            <tr>
                <td><a asp-controller="Wedding" asp-action="ShowWedding"
                        asp-route-weddingId="@wedding.WeddingId">@wedding.Groom & @wedding.Bride</a></td>
                <td>@wedding.Date</td>
                <td>@wedding.Responses.Count()</td>
                @{
                    if (wedding.UserId == ViewBag.UserId)
                    {
                        <td>
                            <a asp-controller="Wedding" asp-action="Remove" asp-route-weddingId="@wedding.WeddingId">DELETE</a>
                        </td>
                    }
                    else if (wedding.Responses.Any(r => r.UserId == ViewBag.UserId))
                    {
                        <td>
                            <a asp-controller="Response" asp-action="RSVP" asp-route-weddingId="@wedding.WeddingId" asp-route-status="remove">Un-RSVP</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-controller="Response" asp-action="RSVP" asp-route-weddingId="@wedding.WeddingId" asp-route-status="add">RSVP</a>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Wedding" asp-action="NewWedding" class="btn ml-2 btn-default bg-info text-white">New Wedding</a>