@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between mb-4">
    <div class="d-flex text-center mx-auto">
        <h1><a href="../">Chefs</a> |</h1>
        <h1> Dishes</h1>
    </div>
    <a href="dishes/new" class="align-self-center">Add a Dish</a>
</div>
<div>
    <h2>Yum, take a look at out tasty dishes!</h2>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
        @foreach (var d in ViewBag.Dishes)
        {
            <tr>
                <td>@d.Name</td>
                <td>@d.Chef.FirstName @d.Chef.LastName</td>
                <td>@d.Tastiness</td>
                <td>@d.Calories</td>
            </tr>
        }
    </table>
</div>
